/* Header */

#site-logo img {
	width: auto;
	transition: 0.3s;
}

.elementor-sticky--effects {

	backdrop-filter:blur(5px); 
	-webkit-backdrop-filter:blur(5px); 

}

.elementor-sticky--effects #site-logo img {
	height: 50px;
	transition: 0.3s;
}

.e-con-inner {
	transition: 0.3s;
}

.elementor-sticky--effects .e-con-inner, #box-header.elementor-sticky--effects .e-con-inner .e-con-boxed {
	padding-top: 8px;
	padding-bottom: 8px;
	transition: 0.3s;
}

#box-header.elementor-sticky--effects .e-con-inner {
	padding-top: 0;
	padding-bottom: 0;
}

.sub-arrow {
	display: none !important;
}